In [98]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [99]:
# read csv file
energy_consumed_src = "TotalEnergyConsumedperCapitaStateRankings.csv"
state_population_src = "nst-est2019-alldata.csv"
state_src = "states.csv"


# create the data frame 
nrg_cons_df = pd.read_csv(energy_consumed_src)
pop_df = pd.read_csv(state_population_src)
states_df = pd.read_csv(state_src)
pop_df = pop_df[['DIVISION','STATE','NAME','POPESTIMATE2017']]
pop_df.head(50)

   DIVISION  STATE                  NAME  POPESTIMATE2017
0         0      0         United States        324985539
1         0      0      Northeast Region         56059240
2         0      0        Midwest Region         68126781
3         0      0          South Region        123542189
4         0      0           West Region         77257329
5         6      1               Alabama          4874486
6         9      2                Alaska           739700
7         8      4               Arizona          7044008
8         7      5              Arkansas          3001345
9         9      6            California         39358497
10        8      8              Colorado          5611885
11        1      9           Connecticut          3573297
12        5     10              Delaware           956823
13        5     11  District of Columbia           694906
14        5     12               Florida         20963613
15        5     13               Georgia         10410330
16        9     15                Hawaii          1424393
17        8     16                 Idaho          1717715
18        3     17              Illinois         12778828
19        3     18               Indiana          6658078
20        4     19                  Iowa          3141550
21        4     20                Kansas          2908718
22        6     21              Kentucky          4452268
23        7     22             Louisiana          4670560
24        1     23                 Maine          1334612
25        5     24              Maryland          6023868
26        1     25         Massachusetts          6859789
27        3     26              Michigan          9973114
28        4     27             Minnesota          5566230
29        6     28           Mississippi          2988510
30        4     29              Missouri          6106670
31        8     30               Montana          1052482
32        4     31              Nebraska          1915947
33        8     32                Nevada          2969905
34        1     33         New Hampshire          1348787
35        2     34            New Jersey          8885525
36        8     35            New Mexico          2091784
37        2     36              New York         19589572
38        5     37        North Carolina         10268233
39        4     38          North Dakota           754942
40        3     39                  Ohio         11659650
41        7     40              Oklahoma          3931316
42        9     41                Oregon          4143625
43        2     42          Pennsylvania         12787641
44        1     44          Rhode Island          1055673
45        5     45        South Carolina          5021268
46        4     46          South Dakota           872868
47        6     47             Tennessee          6708799
48        7     48                 Texas         28295273
49        8     49                  Utah          3101042

In [100]:
#pop_df['DIVISION'] = pd.to_numeric(pop_df['DIVISION'], errors='ignore')
#pop_df['DIVISION'] = pop_df['DIVISION'].astype(int)
pop_df = pop_df[pop_df['STATE'] != 0]
pop_df.head(50)

   DIVISION  STATE                  NAME  POPESTIMATE2017
5         6      1               Alabama          4874486
6         9      2                Alaska           739700
7         8      4               Arizona          7044008
8         7      5              Arkansas          3001345
9         9      6            California         39358497
10        8      8              Colorado          5611885
11        1      9           Connecticut          3573297
12        5     10              Delaware           956823
13        5     11  District of Columbia           694906
14        5     12               Florida         20963613
15        5     13               Georgia         10410330
16        9     15                Hawaii          1424393
17        8     16                 Idaho          1717715
18        3     17              Illinois         12778828
19        3     18               Indiana          6658078
20        4     19                  Iowa          3141550
21        4     20                Kansas          2908718
22        6     21              Kentucky          4452268
23        7     22             Louisiana          4670560
24        1     23                 Maine          1334612
25        5     24              Maryland          6023868
26        1     25         Massachusetts          6859789
27        3     26              Michigan          9973114
28        4     27             Minnesota          5566230
29        6     28           Mississippi          2988510
30        4     29              Missouri          6106670
31        8     30               Montana          1052482
32        4     31              Nebraska          1915947
33        8     32                Nevada          2969905
34        1     33         New Hampshire          1348787
35        2     34            New Jersey          8885525
36        8     35            New Mexico          2091784
37        2     36              New York         19589572
38        5     37        North Carolina         10268233
39        4     38          North Dakota           754942
40        3     39                  Ohio         11659650
41        7     40              Oklahoma          3931316
42        9     41                Oregon          4143625
43        2     42          Pennsylvania         12787641
44        1     44          Rhode Island          1055673
45        5     45        South Carolina          5021268
46        4     46          South Dakota           872868
47        6     47             Tennessee          6708799
48        7     48                 Texas         28295273
49        8     49                  Utah          3101042
50        1     50               Vermont           624344
51        5     51              Virginia          8463587
52        9     53            Washington          7423362
53        5     54         West Virginia          1817004
54        3     55             Wisconsin          5790186

In [101]:
nrg_cons_df = nrg_cons_df.merge(states_df,left_on='State', right_on='State_Abbr')
nrg_cons_df = nrg_cons_df.drop(columns = ['Rank', 'State_Abbr','Note: Rankings are based on the full source data values.'])
nrg_cons_df.head(50)

   State  Total Energy Consumed per Capita, million Btu            State_Name
0     LA                                            960             Louisiana
1     WY                                            885               Wyoming
2     ND                                            836          North Dakota
3     AK                                            822              Arkansas
4     IA                                            496                  Iowa
5     TX                                            472                 Texas
6     NE                                            457              Nebraska
7     SD                                            441          South Dakota
8     OK                                            418              Oklahoma
9     WV                                            416         West Virginia
10    IN                                            406               Indiana
11    MT                                            399               Montana
12    MS                                            394           Mississippi
13    AL                                            390               Alabama
14    KY                                            372              Kentucky
15    KS                                            369                Kansas
16    AR                                            352              Arkansas
17    MN                                            329             Minnesota
18    SC                                            327        South Carolina
19    NM                                            327            New Mexico
20    TN                                            323             Tennessee
21    ID                                            322                 Idaho
22    OH                                            312                  Ohio
23    WI                                            312             Wisconsin
24    IL                                            303              Illinois
25    PA                                            298          Pennsylvania
26    ME                                            294                 Maine
27    MO                                            283               Montana
28    WA                                            282            Washington
29    DE                                            282              Delaware
30    MI                                            278              Michigan
31    VA                                            272              Virginia
32    GA                                            269               Georgia
33    UT                                            267                  Utah
34    CO                                            261              Colorado
35    OR                                            249                Oregon
36    NC                                            244        North Carolina
37    DC                                            241  District of Columbia
38    NJ                                            240            New Jersey
39    NV                                            238                Nevada
40    NH                                            235         New Hampshire
41    MD                                            218              Maryland
42    VT                                            216               Vermont
43    AZ                                            209               Arizona
44    MA                                            208         Massachusetts
45    CT                                            203           Connecticut
46    FL                                            201               Florida
47    CA                                            200            California
48    HI                                            199                Hawaii
49    NY                                            188              New York

In [114]:
Total_Energy = pd.merge(pop_df, nrg_cons_df, left_on='NAME', right_on='State_Name')
#Conversion: 1 gigawatt hour (GWh) = 3,412,141,632.81 BTU - British Thermal Unit (btu)
gwh_to_btu = 3412141632.81 
Total_Energy['Energy_Consumed_GWh'] = (Total_Energy['Total Energy Consumed per Capita, million Btu']*1000000*Total_Energy['POPESTIMATE2017'])/gwh_to_btu
Total_Energy = Total_Energy.rename(columns={'POPESTIMATE2017':'State Population 2017','Total Energy Consumed per Capita, million Btu':'Total Energy Consumed 2017 (10^6 btu/capita)'})
Total_Energy = Total_Energy[['State_Name','State Population 2017','Total Energy Consumed 2017 (10^6 btu/capita)','Energy_Consumed_GWh']]
Total_Energy.head(50)

,State_Name,State Population 2017,Total Energy Consumed 2017 (10^6 btu/capita),Energy_Consumed_GWh
0,Alabama,4874486,390,5.571426e+05
1,Arizona,7044008,209,4.314585e+05
2,Arkansas,3001345,822,7.230373e+05
3,Arkansas,3001345,352,3.096218e+05
4,California,39358497,200,2.306967e+06
5,Colorado,5611885,261,4.292618e+05
6,Connecticut,3573297,203,2.125877e+05
7,Delaware,956823,282,7.907763e+04
8,District of Columbia,694906,241,4.908130e+04
9,Florida,20963613,201,1.234910e+06
10,Georgia,10410330,269,8.207100e+05
11,Hawaii,1424393,199,8.307223e+04
12,Idaho,1717715,322,1.620988e+05
13,Illinois,12778828,303,1.134767e+06
14,Indiana,6658078,406,7.922238e+05
15,Iowa,3141550,496,4.566659e+05
16,Kansas,2908718,369,3.145581e+05
17,Kentucky,4452268,372,4.853971e+05
18,Louisiana,4670560,960,1.314054e+06
19,Maine,1334612,294,1.149940e+05
20,Maryland,6023868,218,3.848619e+05
21,Massachusetts,6859789,208,4.181644e+05
22,Michigan,9973114,278,8.125471e+05
23,Minnesota,5566230,329,5.366980e+05
24,Mississippi,2988510,394,3.450833e+05
25,Montana,1052482,399,1.230724e+05
26,Montana,1052482,283,8.729192e+04
27,Nebraska,1915947,457,2.566094e+05
28,Nevada,2969905,238,2.071536e+05
29,New Hampshire,1348787,235,9.289326e+04
30,New Jersey,8885525,240,6.249817e+05
31,New Mexico,2091784,327,2.004645e+05
32,New York,19589572,188,1.079334e+06
33,North Carolina,10268233,244,7.342746e+05
34,North Dakota,754942,836,1.849664e+05
35,Ohio,11659650,312,1.066137e+06
36,Oklahoma,3931316,418,4.816008e+05
37,Oregon,4143625,249,3.023798e+05
38,Pennsylvania,12787641,298,1.116811e+06
39,South Carolina,5021268,327,4.812094e+05
40,South Dakota,872868,441,1.128133e+05
41,Tennessee,6708799,323,6.350680e+05
42,Texas,28295273,472,3.914072e+06
43,Utah,3101042,267,2.426565e+05
44,Vermont,624344,216,3.952307e+04
45,Virginia,8463587,272,6.746776e+05
46,Washington,7423362,282,6.135115e+05
47,West Virginia,1817004,416,2.215247e+05
48,Wisconsin,5790186,312,5.294440e+05
49,Wyoming,578931,885,1.501561e+05

In [118]:
consumed_energy_csv = "energy_consumption.csv"
Total_Energy.to_csv(consumed_energy_csv,index=False)