In [1]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [3]:
# read csv file
file_path = "Resource/usretechnicalpotential.csv"

# create the data frame 
energy_df = pd.read_csv(file_path)
energy_df.head()

,Unnamed: 0,urbanUtilityScalePV_GWh,urbanUtilityScalePV_GW,urbanUtilityScalePV_km2,ruralUtilityScalePV_GWh,ruralUtilityScalePV_GW,ruralUtilityScalePV_km2,rooftopPV_GWh,rooftopPV_GW,CSP_GWh,...,biopowerGaseous_GWh,biopowerGaseous_GW,biopowerGaseous_Tonnes-CH4,geothermalHydrothermal_GWh,geothermalHydrothermal_GW,EGSGeothermal_GWh,EGSGeothermal_GW,hydropower_GWh,hydropower_GW,hydropower_countOfSites
0,Alabama,35850,20,426,3706838,2114,44058,15475.0,12,0,...,1533,0,326186,0,0,535489.0,67.0,4102,0,2435
1,Alaska,166,0,2,8282976,9005,187608,NaN,1,0,...,61,0,13156,15437,1,NaN,NaN,23675,5,3053
2,Arizona,121305,52,1096,11867693,5147,107230,22736.0,14,12544333,...,837,0,178188,8329,1,1239147.0,157.0,1303,0,1958
3,Arkansas,28960,15,332,4986388,2747,57239,8484.0,6,0,...,1063,0,226178,0,0,628621.0,79.0,6093,1,3268
4,California,246008,111,2320,8855917,4010,83549,106411.0,75,8490916,...,15510,1,3300211,130921,16,1344179.0,170.0,30023,6,9692

In [4]:
# select the columns
energy_df = energy_df[["Unnamed: 0", "urbanUtilityScalePV_GWh","ruralUtilityScalePV_GWh","rooftopPV_GWh", "CSP_GWh","onshoreWind_GWh","offshoreWind_GWh", "biopowerSolid_GWh", "biopowerGaseous_GWh", "geothermalHydrothermal_GWh", "EGSGeothermal_GWh", "hydropower_GWh"]]
                     
# display the new dataframe
energy_df.head()

,Unnamed: 0,urbanUtilityScalePV_GWh,ruralUtilityScalePV_GWh,rooftopPV_GWh,CSP_GWh,onshoreWind_GWh,offshoreWind_GWh,biopowerSolid_GWh,biopowerGaseous_GWh,geothermalHydrothermal_GWh,EGSGeothermal_GWh,hydropower_GWh
0,Alabama,35850,3706838,15475.0,0,283,0.0,11193,1533,0,535489.0,4102
1,Alaska,166,8282976,NaN,0,1373433,NaN,513,61,15437,NaN,23675
2,Arizona,121305,11867693,22736.0,12544333,26036,NaN,1087,837,8329,1239147.0,1303
3,Arkansas,28960,4986388,8484.0,0,22892,NaN,14381,1063,0,628621.0,6093
4,California,246008,8855917,106411.0,8490916,89862,2662579.0,12408,15510,130921,1344179.0,30023

In [5]:
# rename the columns
energy_df.columns=["State", "Urban_Solar", "Rural_Solar", "Rooftop_Solar", "CSP_Solar", "Onshore_Wind", "Offshore_Wind", "Biopower_Solid", "Biopower_Gaseous", "Geothermal_Hydrothermal", "EGS_Geothermal", "Hydropower"]
energy_df.head()

,State,Urban_Solar,Rural_Solar,Rooftop_Solar,CSP_Solar,Onshore_Wind,Offshore_Wind,Biopower_Solid,Biopower_Gaseous,Geothermal_Hydrothermal,EGS_Geothermal,Hydropower
0,Alabama,35850,3706838,15475.0,0,283,0.0,11193,1533,0,535489.0,4102
1,Alaska,166,8282976,NaN,0,1373433,NaN,513,61,15437,NaN,23675
2,Arizona,121305,11867693,22736.0,12544333,26036,NaN,1087,837,8329,1239147.0,1303
3,Arkansas,28960,4986388,8484.0,0,22892,NaN,14381,1063,0,628621.0,6093
4,California,246008,8855917,106411.0,8490916,89862,2662579.0,12408,15510,130921,1344179.0,30023

In [6]:
# change NaN values to 0
energy_df.fillna(0, inplace=True)
energy_df.head()

,State,Urban_Solar,Rural_Solar,Rooftop_Solar,CSP_Solar,Onshore_Wind,Offshore_Wind,Biopower_Solid,Biopower_Gaseous,Geothermal_Hydrothermal,EGS_Geothermal,Hydropower
0,Alabama,35850,3706838,15475.0,0,283,0.0,11193,1533,0,535489.0,4102
1,Alaska,166,8282976,0.0,0,1373433,0.0,513,61,15437,0.0,23675
2,Arizona,121305,11867693,22736.0,12544333,26036,0.0,1087,837,8329,1239147.0,1303
3,Arkansas,28960,4986388,8484.0,0,22892,0.0,14381,1063,0,628621.0,6093
4,California,246008,8855917,106411.0,8490916,89862,2662579.0,12408,15510,130921,1344179.0,30023

In [8]:
#output clean data frame to csv
potential_energy = "Resource/usretechnicalpotential(clean).csv"
energy_df.to_csv(potential_energy,index=False)

In [ ]:
energy_df["total"]=sum