In [3]:
import sqlalchemy
import pandas as pd
from sqlalchemy import create_engine
from credentials import username
from credentials import password
from  psycopg2 import connect

In [4]:
import_ = 'Resources/usretechnicalpotential(clean).csv'
import_2='Resources/energy_consumption.csv'
df = pd.read_csv(import_)
renewabledf= df.set_index('State')
renewable_sum=renewabledf.sum(axis=1)
renewabledf=pd.DataFrame(renewable_sum)
renewabledf=renewabledf.rename(columns={0:'total_renewable'})
energydf=df.merge(renewabledf,on='State')
energydf=energydf[['State','total_renewable']]
energydf=energydf.rename(columns={'State':'state'})
energydf

                   state  total_renewable
0                Alabama        4310763.0
1                 Alaska        9696261.0
2                Arizona       25832806.0
3               Arkansas        5696882.0
4             California       21984734.0
5               Colorado       21820810.0
6            Connecticut         118473.0
7               Delaware         373788.0
8   District of Columbia           3260.0
9                Florida        5697361.0
10               Georgia        6159690.0
11                Hawaii        2925605.0
12                 Idaho        8546464.0
13              Illinois        9653056.0
14               Indiana        5824490.0
15                  Iowa        9391618.0
16                Kansas       26621685.0
17              Kentucky        2360183.0
18             Louisiana        5887841.0
19                 Maine        2152076.0
20              Maryland         924623.0
21         Massachusetts        1009137.0
22              Michigan        7644645.0
23             Minnesota       12761911.0
24           Mississippi        5602956.0
25              Missouri        6928121.0
26               Montana       14160930.0
27              Nebraska       18091386.0
28                Nevada       18272527.0
29         New Hampshire         191030.0
30            New Jersey         969272.0
31            New Mexico       36041138.0
32              New York        2642611.0
33        North Carolina        6041643.0
34          North Dakota       13143896.0
35                  Ohio        4555781.0
36              Oklahoma       16781864.0
37                Oregon        8583368.0
38          Pennsylvania        1012686.0
39          Rhode Island         118543.0
40        South Carolina        3720270.0
41          South Dakota       15478679.0
42             Tennessee        2738885.0
43                 Texas       71862422.0
44                  Utah       11278730.0
45               Vermont         103289.0
46              Virginia        2602582.0
47            Washington        3089068.0
48         West Virginia         333358.0
49             Wisconsin        6346907.0
50               Wyoming       13872718.0

In [5]:
df2 = pd.read_csv(import_2)
df2=df2.rename(columns={'Total Energy Consumed 2017 (10^6 btu/capita)':'energy_consumed_btu','State_Name':'state', 'State Population 2017':'population', 'Energy_Consumed_GWh': 'energy_consumed_gwh'  })
df2.head()

        state  population  energy_consumed_btu  energy_consumed_gwh
0     Alabama     4874486                  390         5.571426e+05
1     Arizona     7044008                  209         4.314585e+05
2    Arkansas     3001345                  822         7.230373e+05
3    Arkansas     3001345                  352         3.096218e+05
4  California    39358497                  200         2.306967e+06

In [ ]:
rds_connection_string = f'{username}:{password}@localhost:5433/etl_db'
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
engine.table_names()

In [ ]:
energydf.to_sql(name='state_renewable', con=engine, if_exists='append', index=False)

In [ ]:
df2.to_sql(name='state_consumption', con=engine, if_exists='append', index=False)

In [ ]:
pd.read_sql_query('select * from state_', con=engine).head()